@media(max-width:1140px) {

    .catalog,
    .box {
        gap: 30px;
        overflow: hidden;
        overflow-x: auto;
    }

    .catalog__item,
    .box__item {
        flex-shrink: 0;
    }

}

@media(max-width:1100px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4,1fr);
        max-width: 540px;
        width: 100%;
        margin: 30px auto 0;
    }
}

@media(max-width:900px) {
    .widow {
        background: rgba(255, 255, 255, 0.6);
    }
}
@media(max-width:680px) {
    .footer{
        margin-top: 30px;
        padding: 20px 0;
    }
    .footer__box{
        flex-direction: column;
        gap: 10px;
    }
}

@media(max-width:600px) {
    .nav__info {
        flex-direction: column;
        padding-top: 15px;
    }

    .nav__link span {
        padding: 25px 6px 24px;
    }

    .info__title {
        font-size: 50px;
        line-height: 120%;
    }
}

@media(max-width:550px) {
    .grid{
        gap: 15px;
    }
    .widow {
        height: 450px;
    }

    .widow__title {
        width: 350px;
        margin-top: 30px;
    }

    .widow__text {
        font-size: 16px;
        margin: 45px 0;
    }

    .game__title {
        font-size: 35px;
        line-height: 120%;
    }

    .game__text {
        font-size: 14px;
        text-align: justify;
    }
}

@media(max-width:500px) {
    .grid__icon {
        font-size: 35px;
    }
    .grid__title{
        font-size: 20px;
        margin-top: 15px;
    }
    .info__title {
        font-size: 40px;
    }

    .logo img {
        width: 80px;
    }

    .logo {
        font-size: 14px;
    }

    .film-icon {
        font-size: 40px;
    }

    .header {
        height: 450px;
    }

    .info__text {
        font-size: 14px;
    }

    .link,
    .header__link {
        width: 140px;
        height: 40px;
        font-size: 14px;
    }
}
@media(max-width:460px) {
    .grid_1{
        grid-row: span 1;
        grid-column: span 1;
    }
    .grid{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5,1fr);
        width: 250px;
    }
}

@media(max-width:404px) {
    .footer__info{
        gap: 15px;
    }
    .footer__text{
        font-size: 16px;
        text-align: center;
    }
    .game__title {
        font-size: 30px;
    }

    .game__text {
        font-size: 12px;
        margin: 15px 0;
    }

    .game {
        height: 350px;
        padding: 0 15px;
    }

    .header {
        height: 400px;
    }

    .info__title {
        font-size: 35px;
    }

    .info__text {
        font-size: 12px;
        margin-bottom: 30px;
    }

    .link,
    .header__link {
        width: 120px;
        height: 35px;
        font-size: 12px;
    }

    .list {
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 10px;
        row-gap: 0;

    }

    .nav__link span {
        padding: 20px 6px 19px;
    }
}

@media(max-width:390px) {
    .widow {
        height: 380px;
    }

    .widow__title {
        width: 250px;
    }

    .widow__text {
        font-size: 14px;
        margin: 30px 0;
    }
}

@media(max-width:365px) {
    .header__top {
        height: 60px;
    }

    .header__text {
        font-size: 14px;
    }

    .nav__info {
        padding-top: 10px;
    }

    .list {
        gap: 0;
    }
}

@media(max-width:335px) {
    .game__title {
        font-size: 22px;
    }

    .game__text {
        font-size: 11px;
        margin: 10px 0;
    }

    .game {
        padding: 0 10px;
    }

    .nav__link span {
        padding: 10px 8px 9px;
    }

    .info__title {
        font-size: 30px;
    }
}